<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data" />
    </DbProviderFactories>
  </system.data>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <connectionStrings>
    <add name="Aoi" connectionString="Data Source=192.168.150.250;user id=root;Password=root;database=power_aoi;port=33306;Character Set=utf8;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MarkerThreshold" value="0.15" />
    <add key="DiskRemind" value="100" />
    <add key="FtpPath" value="C:\Power-Ftp\" />
    <add key="RabbitMQServerHostName" value="192.168.150.250" />
    <add key="RabbitMQServerPort" value="5672" />
    <add key="RabbitMQUserName" value="admin" />
    <add key="RabbitMQPassword" value="admin" />
    <add key="RabbitMQVirtualHost" value="my_vhost" />
  </appSettings>

  <!--<connectionStrings>
    <add name="Aoi" connectionString="Data Source=192.168.31.75;user id=root;Password=root;database=power_aoi;port=3306;Character Set=utf8;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MarkerThreshold" value="0.15" />
    <add key="FtpPath" value="E:\Power-Ftp\" />
    <add key="RabbitMQServerHostName" value="192.168.31.75" />
    <add key="RabbitMQServerPort" value="5672" />
    <add key="RabbitMQUserName" value="baymin" />
    <add key="RabbitMQPassword" value="baymin1024" />
    <add key="RabbitMQVirtualHost" value="my_vhost" />
  </appSettings>-->

</configuration>
